; vim: tabstop=8 noexpandtab shiftwidth=8 softtabstop=8
[user]
	email = qstrahl@gmail.com
	name = Quinn Strahl
[push]
	default = current
[branch]
	autosetuprebase = always
[github]
	user = qstrahl
[rebase]
	autoStash = true
[pretty]
	oneline-fixed = format:%C(auto)%h %C(auto)%s%C(auto)%d
[pull]
	rebase = true
[fetch]
	prune = true
[core]
	excludesfile = ~/.gitignore
[alias]
	branches = !git branch | cut -c1,2 --complement
	fix = commit --amend --no-edit
	fixup = commit --amend --no-edit
	fucked = reset --hard FETCH_HEAD
	please = push --force-with-lease

	br = branch
	brs = !git branch | cut -c1,2 --complement
	cm = commit
	co = checkout
	lg = log --pretty=oneline-fixed
	ls = ls-files
	pls = push --force-with-lease
	rb = rebase
	st = status
	up = remote update
[include]
        path = .gitconfig.local
