[user]
	email = qstrahl@gmail.com
	name = Quinn Strahl
[push]
	default = current
[branch]
	autosetuprebase = always
[github]
	user = qstrahl
[rebase]
	autoStash = true
[pull]
	rebase = true
[fetch]
	prune = true
[core]
	excludesfile = ~/.gitignore
[alias]
	fixup = commit --amend --no-edit
        please = push --force-with-lease
	stat = status --short
[include]
	path = .gitconfig.local
