[submodule "nvim"]
	path = nvim/.config/nvim
	url = git@github.com:qstrahl/.vim.git
	branch = master
	update = rebase
[submodule "tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
	branch = master
	update = rebase
[submodule "zsh/.config/zsh/antigen"]
	path = zsh/.config/zsh/antigen
	url = git@github.com:zsh-users/antigen.git
[submodule ".base16/shell"]
	path = .base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule ".base16/xresources"]
	path = .base16-xresources
	url = https://github.com/base16-templates/base16-xresources.git
[submodule ".base16-fzf"]
	path = .base16-fzf
	url = https://github.com/nicodebo/base16-fzf.git
