set enable-bracketed-paste
set editing-mode vi
set enable-keypad on
set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2
set show-all-if-ambiguous on

set keymap vi-insert
"\e[106;5u":    next-history
"\e[1;2A":      previous-history
"\e[1;2B":      next-history
"\e[1;2C":      forward-word
"\e[1;2D":      backward-word
"\e[1;2F":      end-of-line
"\e[1;2H":      beginning-of-line
"\e[1;5A":      previous-history
"\e[1;5B":      next-history
"\e[1;5C":      forward-word
"\e[1;5D":      backward-word
"\e[1;5F":      end-of-line
"\e[1;5H":      beginning-of-line
"\e[1;6A":      previous-history
"\e[1;6B":      next-history
"\e[1;6C":      forward-word
"\e[1;6D":      backward-word
"\e[1;6F":      end-of-line
"\e[1;6H":      beginning-of-line
"\e[32;2u":     " "
"\e[32;6u":     " "
"\e[5;5~":      previous-history
"\e[6;5~":      next-history
"\e[A":         previous-history
"\e[B":         next-history
"\e[F":         end-of-line
"\e[H":         beginning-of-line
"^K":           previous-history
"\n":           next-history
"\e[1~":        beginning-of-line
"\e[3~":        delete-char
"\e[3;2~":      kill-word
"\e[3;5~":      kill-word
"\e[3;6~":      kill-word
"\e[4~":        end-of-line

set keymap vi-command
"\`":           backward-word
"\e[106;5u":    next-history
"\e[127;2u":    backward-word
"\e[127;5u":    backward-word
"\e[127;6u":    backward-word
"\e[1;2A":      previous-history
"\e[1;2B":      next-history
"\e[1;2C":      forward-word
"\e[1;2D":      backward-word
"\e[1;2F":      end-of-line
"\e[1;2H":      beginning-of-line
"\e[1;5A":      previous-history
"\e[1;5B":      next-history
"\e[1;5C":      forward-word
"\e[1;5D":      backward-word
"\e[1;5F":      end-of-line
"\e[1;5H":      beginning-of-line
"\e[1;6A":      previous-history
"\e[1;6B":      next-history
"\e[1;6C":      forward-word
"\e[1;6D":      backward-word
"\e[1;6F":      end-of-line
"\e[1;6H":      beginning-of-line
"\e[1~":        beginning-of-line
"\e[32;2u":     " "
"\e[32;6u":     " "
"\e[4~":        end-of-line
"\e[5;5~":      previous-history
"\e[5~":        previous-history
"\e[6;5~":      next-history
"\e[6~":        next-history
"\e[A":         previous-history
"\e[B":         next-history
"\e[F":         end-of-line
"\e[H":         beginning-of-line
"^?":           backward-char
"^K":           previous-history
"j":            next-history
"k":            previous-history
"\n":           next-history
"~":            backward-word
"\e[1~":        beginning-of-line
"\e[3~":        delete-char
"\e[3;2~":      kill-word
"\e[3;5~":      kill-word
"\e[3;6~":      kill-word
"\e[4~":        end-of-line
